<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />

    <title>Will there be space?</title>

    <link href="{{ url_for('static', filename='styles/bootstrap.min.css') }}" rel="stylesheet" />
  </head>

  <body>
    <nav class="navbar navbar-dark bg-inverse navbar-fixed-top">
      <a class="navbar-brand" href="{{ url_for('.home') }}">Will there be space?</a>
    </nav>

    <div class="container" style="margin-top: 100px;">
      {% block content %}
      {% endblock %}
    </div>

    <script src="{{ url_for('static', filename='scripts/bootstrap.min.js') }}"></script>
    {% block scripts %}
    {% endblock %}
  </body>

</html>
