{% extends '_base.html' %}

{% block scripts %}
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">
    google.load('visualization', '1.0', {'packages': ['corechart']});
    google.setOnLoadCallback(drawChart);

    function drawChart() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Time');
      data.addColumn('number', 'Busyness');
      data.addRows([
        {% for row in chart %}
          ['{{ ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'][row[0]] }} {{ row[1] }}h', {{ row[2] }}],
        {% endfor %}
      ]);

      var options = {
        height: 300,
        isStacked: true,
        bar: {
          groupWidth: '100%'
        },
        legend: {
          position: 'none'
        }
      };

      var chart = new google.visualization.ColumnChart(document.getElementById('chart'));
      chart.draw(data, options);
    }
  </script>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-9">
      <h1>{{ place.name }}</h1>
      <p class="lead">{{ place.description }}</p>
      <p class="text-muted">{{ place.location }}</p>
    </div>

    <div class="col-sm-3">
      <h5>How busy is it now?</h5>

      <form method="POST">
        <div class="form-group">
          <input type="range" id="busyness" value="0" name="busyness" min="0" max="10" placeholder="Busyness" oninput="amount.value=busyness.value" />
          <output name="amount" for="busyness">0</output>
        </div>

        <button type="submit" class="btn btn-primary">Update</button>
      </form>
    </div>
  </div>

  {% if now_busyness is defined %}
    <div class="card">
      <div class="card-block">
        <div id="chart"></div>
        <br />
        <p class="card-text text-center">Usually around this time, it is <strong>{{ (now_busyness * 10) | round }}% busy</strong>.</p>
      </div>
    </div>
  {% endif %}

  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">Latest Updates</h4>
        </div>

        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Busyness</th>
              <th>Date</th>
              <th>Author</th>
            </tr>
          </thead>

          <tbody>
            {% for update in place.updates | islice(10) %}
              <tr>
                <td>{{ loop.index }}</td>
                <td>{{ update.busyness }}</td>
                <td>{{ update.date }}</td>
                <td>{{ update.author.ip_address }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">Scale</h4>
        </div>

        <table class="table">
          <tbody>
            {% for i in range(11) %}
              <tr>
                <th>{{ i }}</th>
                <td>{{ place.scale['text_{}'.format(i)] }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
