{% extends '_base.html' %}

{% block scripts %}
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">
    google.load('visualization', '1.0', {'packages': ['corechart']});
    google.setOnLoadCallback(drawChart);

    function drawChart() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Time');
      data.addColumn('number', 'Free Spaces');
      data.addColumn('number', 'Used Spaces');
      data.addRows([
        {% for row in chart %}
          ['{{ ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'][row[0]] }} {{ row[1] }}h', {{ row[2] }}, {{ row[3] }}],
        {% endfor %}
      ]);

      var options = {
        height: 300,
        isStacked: true,
        bar: {
          groupWidth: '100%'
        }
      };

      var chart = new google.visualization.ColumnChart(document.getElementById('chart'));
      chart.draw(data, options);
    }
  </script>
{% endblock %}

{% block content %}
  <h1>{{ place.name }}</h1>
  <p class="lead">{{ place.description }}</p>
  <p class="text-muted">{{ place.location }}</p>

  {% if now_free and now_used %}
    <div class="card" style="width: 60%; margin: auto;">
      <div class="card-block">
        <p class="card-text">Usually around this time, there are <strong>{{ now_free | round(1) }} free spaces</strong> and <strong>{{ now_used | round(1) }} used spaces</strong>.</p>
      </div>
    </div>
  {% endif %}

  <br />

  <h2>Chart</h2>
  <div id="chart"></div>

  <h2>Latest Updates</h2>

  <table class="table table-striped">
    <thead class="thead-default">
      <tr>
        <th>#</th>
        <th>Free Spaces</th>
        <th>Used Spaces</th>
        <th>Date</th>
        <th>Author</th>
      </tr>
    </thead>

    <tbody>
      {% for update in place.updates | islice(10) %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ update.free_spaces }}</td>
          <td>{{ update.used_spaces }}</td>
          <td>{{ update.date }}</td>
          <td>{{ update.author.ip_address }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <a class="btn btn-primary" href="{{ url_for('.update_place', slug=place.slug) }}">Post update</a>
{% endblock %}
