{% extends '_base.html' %}

{% block content %}
  <h1>How busy is “{{ place.name }}”?</h1>

  <form method="POST">
    <div class="form-group">
      <input type="range" id="busyness" value="0" name="busyness" min="0" max="10" placeholder="Busyness" oninput="amount.value=busyness.value" />
      <output name="amount" for="busyness">0</output>
    </div>

    <button type="submit" class="btn btn-primary">Go</button>
  </form>

  <br />

  <h2>Scale</h2>

  <table class="table table-sm">
    <tbody>
      {% for i in range(11) %}
        <tr>
          <td>{{ i }}</td>
          <td>{{ place.scale['text_{}'.format(i)] }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
