{% extends '_base.html' %}

{% set chart = place.busyness_chart %}

{% block head %}
  <style>
    .g-recaptcha > div > div {
      margin: auto;
    }
  </style>
{% endblock %}

{% block scripts %}
  {% if chart is not none %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load('visualization', '1.0', {'packages': ['corechart']});
      google.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Time', 'Busyness', {role: 'style'}, {role: 'annotation'}],
          {% for row in chart.rows %}
            ['{{ row[0] }} {{ row[1] }}h', {{ row[2] }}, '{{ place.scale.get_colour(row[2]) }}', '{{ 'Now' if row[3] else '' }}'],
          {% endfor %}
        ]);

        var options = {
          height: 300,
          legend: {
            position: 'none'
          },
          vAxis: {
            viewWindowMode: 'explicit',
            viewWindow: {
              max: 10,
              min: 0,
            }
          },
          hAxis: {
            showTextEvery: 12,
            slantedText: true
          },
        };

        var chart = new google.visualization.AreaChart(document.getElementById('chart'));
        chart.draw(data, options);
      }
    </script>
  {% endif %}
{% endblock %}

{% block content %}
  {% if errors %}
    <div class="alert alert-danger" role="alert">
      {% for field, problems in errors.items() %}
        <strong>{{ field }}</strong>: {{ problems | join(', ') }}
      {% endfor %}
    </div>
  {% endif %}

  <div class="row m-b">
    <div class="col-md-9">
      <h1>{{ place.name }}</h1>
      <p class="lead">{{ place.description }}</p>
      <p class="text-muted">{{ place.location }}</p>
    </div>

    <div class="col-md-3">
      <div class="card">
        <div class="card-block">
          <h5 class="card-title">How busy is it now?</h5>

          <form method="POST">
            <div class="form-group row">
              <div class="col-sm-10">
                <input class="form-control" type="range" value="0" name="busyness" min="0" max="10" placeholder="Busyness" oninput="amount.value=document.getElementById('busyness').value=busyness.value" />
              </div>

              <div class="col-sm-2">
                <strong><output name="amount" for="busyness">0</output></strong>
              </div>
            </div>

            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#updateFormModal">Post update</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  {% if chart is not none %}
    <div class="card m-b-lg">
      <div class="card-block">
        <div id="chart"></div>

        <br />

        <p class="card-text text-center lead">Right now, {{ place.name }} is probably <strong style="color: {{ place.scale.get_colour(chart.now) }}">{{ place.scale.get_text(chart.now) }}</strong>.</p>
      </div>
    </div>
  {% endif %}

  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">Latest Updates</h4>
        </div>

        <table class="table table-striped">
          <thead>
            <tr>
              <th>Busyness</th>
              <th>Date</th>
              <th>Author</th>
            </tr>
          </thead>

          <tbody>
            {% for update in place.updates | islice(10) %}
              <tr>
                <td>{{ place.scale.get_text(update.busyness) }} ({{ update.busyness }})</td>
                <td>{{ update.date.strftime('%d %b %Y %H:%M') }}</td>
                <td>{{ update.author.ip_address }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">Scale</h4>
        </div>

        <table class="table">
          <tbody>
            {% for i in range(11) %}
              <tr>
                <th>{{ i }}</th>
                <td style="color: {{ place.scale.get_colour(i) }}">{{ place.scale.get_text(i) }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="modal fade" id="updateFormModal" tabindex="-1" role="dialog" aria-labelledby="updateFormModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body p-t-lg p-b-lg">
          <form method="POST" id="updateForm">
            <input id="busyness" type="hidden" name="busyness" value="0" />

            <div class="g-recaptcha m-b-lg" data-sitekey="6LeD0A8TAAAAAHilJ-3uBY_2y58Gxu561r1VEofU"></div>

            <div class="text-center m-t-lg">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary" form="updateForm">Continue</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
