{% extends '_base.html' %}

{% set chart = place.busyness_chart %}

{% block scripts %}
  {% if chart is not none %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load('visualization', '1.0', {'packages': ['corechart']});
      google.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Time', 'Busyness', {role: 'style'}],
          {% for row in chart.rows %}
            ['{{ row[0] }} {{ row[1] }}h', {{ row[2] }}, '{{ place.scale.get_colour(row[2]) }}'],
          {% endfor %}
        ]);

        var options = {
          height: 300,
          isStacked: true,
          bar: {
            groupWidth: '85%'
          },
          legend: {
            position: 'none'
          }
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart'));
        chart.draw(data, options);
      }
    </script>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="row m-b">
    <div class="col-sm-9">
      <h1>{{ place.name }}</h1>
      <p class="lead">{{ place.description }}</p>
      <p class="text-muted">{{ place.location }}</p>
    </div>

    <div class="col-sm-3">
      <div class="card">
        <div class="card-block">
          <h5 class="card-title">How busy is it now?</h5>

          <form method="POST">
            <div class="form-group">
              <input type="range" id="busyness" value="0" name="busyness" min="0" max="10" placeholder="Busyness" oninput="amount.value=busyness.value" />
              <output name="amount" for="busyness">0</output>
            </div>

            <button type="submit" class="btn btn-primary btn-sm">Update</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  {% if chart is not none %}
    <div class="card m-b-lg">
      <div class="card-block">
        <div id="chart"></div>
        <br />
        <p class="card-text text-center lead">Right now, {{ place.name }} is probably <strong style="color: {{ place.scale.get_colour(chart.now) }}">{{ place.scale.get_text(chart.now) }}</strong>.</p>
      </div>
    </div>
  {% endif %}

  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">Latest Updates</h4>
        </div>

        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Busyness</th>
              <th>Date</th>
              <th>Author</th>
            </tr>
          </thead>

          <tbody>
            {% for update in place.updates | islice(10) %}
              <tr>
                <td>{{ loop.index }}</td>
                <td>{{ place.scale.get_text(update.busyness) }}</td>
                <td>{{ update.date }}</td>
                <td>{{ update.author.ip_address }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">Scale</h4>
        </div>

        <table class="table">
          <tbody>
            {% for i in range(11) %}
              <tr>
                <th>{{ i }}</th>
                <td style="color: {{ place.scale.get_colour(i) }}">{{ place.scale.get_text(i) }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
